<%- include('./component/modal/surat/edit') %>
<!--  -->
<%- include('./component/modal/surat/delete') %>
<!--  -->
<%- include('./component/modal/surat/send') %>

<div class="container-fluid">
  <div class="row p-5 justify-content-center">
    <div class="col">
      <h1 class="display-6 mb-3">Surat Keluar</h1>
      <form
        class="input-group mb-5"
        role="search"
        method="post"
        style="width: 500px"
        action="/surat/keluar"
      >
        <select class="form-select" name="category" id="search" required>
          <option value="no"
          <% if (category && category === 'no') { %>
           selected
          <% } %>
          >Nomor Surat</option>
          <option value="date"
          <% if (category && category === 'date') { %>
            selected
           <% } %>
           >Tanggal Surat</option>
           <option value="about"
           <% if (category && category === 'about') { %>
             selected
            <% } %>
           >Perihal</option>
           <option value="sender"
           <% if (category && category === 'sender') { %>
             selected
            <% } %>
           >Pengirim</option>
        </select>
        <input
          class="form-control"
          type="search"
          name="query"
          placeholder="Kata kunci"
          aria-label="Search"
          autocomplete="off"
          value="<%= query %>"
        />
        <button class="btn btn-success" type="submit">
          <i class="bi bi-search"></i> Cari
        </button>
      </form>
      <h5 class="text-success mb-3">Jumlah Surat : <%= surats.length %></h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">No</th>
            <th scope="col">Nomor Surat</th>
            <th scope="col">Tanggal Surat</th>
            <th scope="col">Perihal</th>
            <th scope="col">Pengirim</th>
            <% if (locals.user.role === "ADMIN") { %>
            <th scope="col">Aksi</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% surats.forEach((surat, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= surat.no %></td>
            <td><%= surat.date %></td>
            <td><%= surat.about %></td>
            <td><%= surat.sender %></td>
            <% if (locals.user.role === "ADMIN") { %>
            <td>
              <a
                class="text-decoration-none text-success text-center"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#edit<%= surat.id %>"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              &ensp;|&ensp;
              <a
                class="text-decoration-none text-danger text-center"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#delete<%= surat.id %>"
              >
                <i class="bi bi-trash"></i>
              </a>
              &ensp;|&ensp;
              <a
                class="text-decoration-none text-primary text-center"
                href="<%= surat.uri %>"
              >
                <i class="bi bi-cloud-download"></i>
              </a>
              &ensp;|&ensp;
              <a
                class="text-decoration-none text-dark text-center"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#send<%= surat.id %>"
              >
                <i class="bi bi-send"></i>
              </a>
            </td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
